<%= stylesheet_link_tag "user" %>
<div class="user-show--column">
  <p class="user"><%= @user.name %></p>
  <%= link_to 'See Recipes', user_recipes_path(@user.id), class: 'see-btn' %>
  <%= link_to 'See Foods', , target: '_blank', class: 'see-btn' %>

</div>
